@page
@model LoginModel
@{
    ViewData["Title"] = "Iniciar Sessão";
}
<style>
    body {
        background-color: #EAEAEA; /* Define a cor de fundo da página */
    }

    #login-submit {
        background-color: #000; /* Change background color to white */
        color: #fff; /* Change text color to black */
        font-size: 14px; /* Adjust font size */
        padding: 0.5rem 1rem; /* Adjust padding */
        border: 1px solid #000; /* Add border */
    }
</style>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}

<head>
    <!-- Include Font Awesome CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <div class="row">
        <div style="width: 50%; margin: 0 auto; text-align: center;">
            <section>
                <form id="account" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating" style="margin-top: 10px;">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                        <label asp-for="Input.Email" class="form-label"></label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating" style="margin-top: 10px; position: relative;">
                        <input asp-for="Input.Password" id="loginPasswordInput" class="form-control" autocomplete="current-password" aria-required="true" />
                        <label asp-for="Input.Password" class="form-label"></label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                        <span id="toggleLoginPassword" onclick="togglePasswordVisibility('login')" style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;">
                            <i id="loginPasswordIcon" class="fas fa-eye"></i>
                        </span>
                    </div>
                    <div style="width: 20%; margin: 0 auto; text-align: center; margin-top: 30px;">
                        <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary" style="background-color: #E36D3F; border: 1px solid white;">Iniciar Sessão</button>
                    </div>
                    <div style="margin-top: 10px;">
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" style="color: #E36D3F;"> Não possui conta? Registar-me</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
