@page
@model RegisterModel
@{
    ViewData["Title"] = "Registo";
}
<div class="text-center">
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div style="width: 50%; margin: 0 auto; text-align: center;">
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" onsubmit="return validarCampos();">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating" style="margin-top: 10px;">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
                <div class="form-floating" style="margin-top: 10px;">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
                <div class="form-floating" style="margin-top: 10px;">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
                <div class="form-floating" style="margin-top: 10px;">
                    <input id="nifInput"  asp-for="Input.UtNIF" class="form-control" aria-required="true" />
                <label asp-for="Input.UtNIF"></label>
                <span asp-validation-for="Input.UtNIF" class="text-danger"></span>
                </div><div class="form-floating" style="margin-top: 10px;">
                <input asp-for="Input.UtMorada" class="form-control" aria-required="true" />
                <label asp-for="Input.UtMorada"></label>
                <span asp-validation-for="Input.UtMorada" class="text-danger"></span>
                </div><div class="form-floating" style="margin-top: 10px;">
                    <input id="dataNascimentoInput" asp-for="Input.UtDataDeNascimento" class="form-control" type="date" aria-required="true" />
                <label asp-for="Input.UtDataDeNascimento"></label>
                <span asp-validation-for="Input.UtDataDeNascimento" class="text-danger"></span>
            </div>
                <div class="form-floating" style="margin-top: 10px;">
                    <input asp-for="Input.PhoneNumber" class="form-control" aria-required="true" />
                    <label asp-for="Input.PhoneNumber"></label>
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>

                <div style="width: 20%; margin: 0 auto; text-align: center; margin-top: 30px;">
                    <style>
                        /* Custom button styles */
                        #registerSubmit {
                            background-color: #000; /* Change background color to white */
                            color: #fff; /* Change text color to black */
                            font-size: 14px; /* Adjust font size */
                            padding: 0.5rem 1rem; /* Adjust padding */
                            border: 1px solid #000; /* Add border */
                        }
                    </style>

                    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Registar</button>

                </div>
                
        </form>
    </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
