<style>
    body {
        background-color: #EAEAEA; /* Laranja claro */
    }

    .about {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

        .about img {
            display: block;
            margin: 0 auto;
            max-height: 250px;
            margin-bottom: 20px;
            border-radius: 8px; /* Arredonda os cantos da imagem */
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra suave */
            transform: perspective(500px) rotateX(0deg); /* Aplica transformação 3D */
        }

        .about p {
            font-size: 16px;
            line-height: 1.6;
            color: #333;
            margin-bottom: 20px; /* Adiciona espaço abaixo do parágrafo */
        }

        .about ul {
            margin-left: 20px; /* Adiciona margem à esquerda da lista */
        }

            .about ul li {
                list-style-type: disc; /* Usa bullets circulares */
                margin-bottom: 10px; /* Adiciona espaço entre os itens da lista */
            }
</style>

<div class="about">
    <img src="~/icone.png" />
    <p>
        <center>© 2024 ESAConsulting. Todos os direitos reservados.</center>
        <br />
        Esta aplicação, incluindo todo o seu conteúdo, é protegido por direitos autorais e é de propriedade exclusiva de ESAConsulting. 
        <br />
        <br />
        Nenhuma parte desta aplicação pode ser reproduzida, distribuída, transmitida, exibida, adaptada ou utilizada de qualquer forma sem a permissão prévia do autor.
        <br />
        <br />
        Qualquer violação dos direitos autorais desta aplicação será sujeita a medidas legais adequadas.
        <br />
    </p>
</div>
