@using System.Globalization
@model CalendarViewModel

<table>
    <tbody>
    @* Create a header row for months *@
    <tr>
        @foreach (var month in Model.Months)
        {
            <th>@month</th>
        }
    </tr>

    @* Iterate through services and create rows dynamically based on month *@
    @foreach (var service in Model.Data.SelectMany(x => x))
    {
        <tr>
            @* Check month of service and create corresponding data cells *@
            @foreach (var month in Model.Months)
            {
                @if (service.ServPrazo.Month == DateTime.ParseExact(month, "MMMM yyyy", CultureInfo.CreateSpecificCulture("pt-PT")).Month)
                {
                    <td>@service.IdServico</td>
                }
                else
                {
                    <td></td>
                }
            }
        </tr>
    }
    </tbody>
</table>