@model CSSC.Models.Notificacao
@{
    ViewData["Title"] = "AgendarNotif";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .row {
        justify-content: center;
    }

    body {
        background-color: #EAEAEA; /* Define a cor de fundo da página */
    }
</style>

<div class="text-center">
    <h1>Agendar Notificação</h1>
    
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AgendarNotifForm" onsubmit="return validarAgendarNotif();">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdServico" />
            <div class="form-group">
                <label asp-for="IdServico" class="control-label"></label>
                <input asp-for="IdServico" class="form-control" />
                <span asp-validation-for="IdServico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataInicial" class="control-label"></label>
                <input asp-for="DataInicial" class="form-control" value="" required/>
                <span asp-validation-for="DataInicial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoDeNotif" class="control-label"></label>
                <select name="TipoDeNotif" class="form-select">
                    @foreach (var estadoServico in Enum.GetValues(typeof(CSSC.Controllers.TipoNotif)))
                    {
                        <option value="@estadoServico">@estadoServico</option>
                    }
                </select>
                <span asp-validation-for="TipoDeNotif" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntervaloDeEnvio" class="control-label"></label>
                <select name="IntervaloDeEnvio" class="form-select">
                    <option value="1">Mês a mês</option>
                    <option value="2">2 em 2 meses</option>
                    <option value="3">3 em 3 meses</option>
                </select>
                <span asp-validation-for="IntervaloDeEnvio" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group" align="center">
                <input type="submit" value="Gravar" class="btn btn-primary" style="background-color: #E36D3F; border-color: white;" />
            </div>
        </form>
    </div>
</div>
<br />
<div align="center">
    <a asp-action="Index" class="btn btn-secondary me-auto" style="background-color: #E36D3F; border-color: white;">Voltar</a>
</div>

