@using System.Security.Claims
@model CSSC.Models.Services

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        background-color: #EAEAEA; /* Define a cor de fundo da página */
    }
</style>


<div class="text-center">
    <h1>Criar um Serviço</h1>
</div>

<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ServIdUtilizador" class="control-label"></label>
                <select asp-for="ServIdUtilizador" class="form-control" asp-items="ViewBag.Users">
                    <option disabled selected value="">Selecione um utilizador</option>
                </select>
                <span asp-validation-for="ServIdUtilizador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServMarcaVeiculo" class="control-label"></label>
                <input asp-for="ServMarcaVeiculo" class="form-control" />
                <span asp-validation-for="ServMarcaVeiculo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServModeloVeiculo" class="control-label"></label>
                <input asp-for="ServModeloVeiculo" class="form-control" />
                <span asp-validation-for="ServModeloVeiculo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServMatriculaVeiculo" class="control-label"></label>
                <input asp-for="ServMatriculaVeiculo" class="form-control" />
                <span asp-validation-for="ServMatriculaVeiculo" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="ServClassificacao" class="control-label"></label>
                <input asp-for="ServClassificacao" class="form-control" />
                <span asp-validation-for="ServClassificacao" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="ServComentario" class="control-label"></label>
                <input asp-for="ServComentario" class="form-control" />
                <span asp-validation-for="ServComentario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServDataInicio" class="control-label"></label>
                <input asp-for="ServDataInicio" class="form-control" />
                <span asp-validation-for="ServDataInicio" class="text-danger"></span>
            </div>
            <div hidden class="form-group">
                <label asp-for="EstadoDoServico" class="control-label"></label>
                <select asp-for="EstadoDoServico" class="form-control" asp-items="ViewBag.Types"></select>
                <span asp-validation-for="EstadoDoServico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescricaoDoServico" class="control-label"></label>
                <input asp-for="DescricaoDoServico" class="form-control" />
                <span asp-validation-for="DescricaoDoServico" class="text-danger"></span>
            </div>
            <div class="form-group d-flex justify-content-between mt-3">
                <a asp-action="Index" class="btn btn-secondary" style="background-color: #E36D3F; border-color: white;">Voltar</a>
                <input type="submit" value="Gravar" class="btn btn-primary" style="background-color: #E36D3F; border-color: white;" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
