@model CSSC.Models.Services

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-color: #EAEAEA; /* Define a cor de fundo da página */
    }

    th, td {
        border-color: #808080; /* cor mais escura para os divisores da tabela */
    }

</style>

<div class="text-center">
    <h1>Editar</h1>
</div>
<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdServico" />
            <div class="form-group" hidden>
                <label asp-for="ServIdUtilizador" class="control-label"></label>
                <input asp-for="ServIdUtilizador" class="form-control" />
                <span asp-validation-for="ServIdUtilizador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServMarcaVeiculo" class="control-label"></label>
                <input asp-for="ServMarcaVeiculo" class="form-control" />
                <span asp-validation-for="ServMarcaVeiculo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServModeloVeiculo" class="control-label"></label>
                <input asp-for="ServModeloVeiculo" class="form-control" />
                <span asp-validation-for="ServModeloVeiculo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServMatriculaVeiculo" class="control-label"></label>
                <input asp-for="ServMatriculaVeiculo" class="form-control" />
                <span asp-validation-for="ServMatriculaVeiculo" class="text-danger"></span>
            </div>
            <div hidden="" class="form-group">
                <label asp-for="ServClassificacao" class="control-label"></label>
                <input asp-for="ServClassificacao" class="form-control" />
                <span asp-validation-for="ServClassificacao" class="text-danger"></span>
            </div>
            <div hidden="" class="form-group">
                <label asp-for="ServComentario" class="control-label"></label>
                <textarea asp-for="ServComentario" class="form-control"></textarea>
                <span asp-validation-for="ServComentario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServPrazo" class="control-label"></label>
                <input asp-for="ServPrazo" class="form-control" />
                <span asp-validation-for="ServPrazo" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="EstadoDoServico" />
            <div class="form-group d-flex justify-content-between mt-3">
                <!-- Adicionando classe d-flex e justify-content-between -->

                <div>
                    <!-- Div para o botão "Voltar" -->
                    <a asp-action="Index" class="btn btn-secondary" style="background-color: #E36D3F; border-color: white;">Voltar</a>
                </div>
                <div>
                    <!-- Div para o botão "Gravar" -->
                    <input type="submit" value="Gravar" class="btn btn-primary" style="background-color: #E36D3F; border-color: white;" />
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
