@model CSSC.Models.Services

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>ServiceModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdServico" />
            <div class="form-group">
                <label asp-for="ServIdUtilizador" class="control-label"></label>
                <input asp-for="ServIdUtilizador" class="form-control" />
                <span asp-validation-for="ServIdUtilizador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServMarcaVeiculo" class="control-label"></label>
                <input asp-for="ServMarcaVeiculo" class="form-control" />
                <span asp-validation-for="ServMarcaVeiculo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServModeloVeiculo" class="control-label"></label>
                <input asp-for="ServModeloVeiculo" class="form-control" />
                <span asp-validation-for="ServModeloVeiculo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServMatriculaVeiculo" class="control-label"></label>
                <input asp-for="ServMatriculaVeiculo" class="form-control" />
                <span asp-validation-for="ServMatriculaVeiculo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServClassificacao" class="control-label"></label>
                <input asp-for="ServClassificacao" class="form-control" />
                <span asp-validation-for="ServClassificacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServComentario" class="control-label"></label>
                <input asp-for="ServComentario" class="form-control" />
                <span asp-validation-for="ServComentario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServPrazo" class="control-label"></label>
                <input asp-for="ServPrazo" class="form-control" />
                <span asp-validation-for="ServPrazo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoDoServico" class="control-label"></label>
                <select asp-for="EstadoDoServico" class="form-control"></select>
                <span asp-validation-for="EstadoDoServico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
